<div class="chat-box" >
  <header>
    <h1>Kapil</h1>
    <span style="flex:1"></span>
    <span class="close-button">X</span>
  </header>
  <section id="message-list">
    <div *ngFor="let receivedMessage of mergedMessages" [ngClass]="receivedMessage.name=='kapil' ? 'not-me' : 'me'">
      <span>{{ receivedMessage.message }}</span>
    </div>

     </section>
  <footer>
    <input [(ngModel)]="message" (keyup.enter)="sendMessage()" id="message-input" type="text" placeholder="Type a message...">
  </footer>
</div>


