.btn-theme{
    background: #2d3394;
    color: white;
    font-size: 14px;
    border-radius: 0px;
    width: 150px;
    margin-left: 30px;
}
.btn-no{
    border: 1px solid #2d3394;
    width: 150px;
}
.container{
    padding: 10px;
}