.link-sucess-container{
    text-align: center;
    min-width: 275px;
    img{
        width: 80px;
    }
    p{
        font-size: 16px;
        color: #41870C;
        margin-bottom: 8px;
        margin-top: 16px;
    }
    h3{
        color: #41870C;
        font-size: 23px;
        font-weight: 500;
    }
}